
  <header class="text-white body-font bg-blue-700 ">
    <div class=" flex flex-wrap py-2 flex-col md:flex-row items-center justify-start  w-full px-4 ">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 mr-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-2xl text-white">TFZ. backoffice</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-row flex-1 mx-6 items-center text-base justify-start ">
       <!-- nav is empty -->
      </nav>
      <app-profile></app-profile>

    </div>
  </header>

