

<div class="md:mx-3 md:p-4">
      <div class="flex flex-col justify-center items-center text-center">
        <img src="assets/bootstrap-logo.svg" alt="Logo" width="100" height="100" class="align-text-top">
        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
          Re-initialisation de mot de passe
        </h4>
        @if (requestResponse) {
          <div class="mb-4 rounded-lg p-3 text-base text-success-700"
            [ngClass]="requestResponse.status === 200 ? 'bg-green-200' : ['bg-red-300', 'text-black']"
            role="alert">
            {{requestResponse.message}}
          </div>
        }
      </div>
      <form [formGroup]="resetForm">
        <p class="mb-4">Entrez votre nouveau mot de passe et confirmez</p>
        <!--Username input-->
        <div class="relative mb-2" data-te-input-wrapper-init>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Votre nouveau de mot de passe</label>
          <div class="mt-1 flex flex-row justify-start">
            <input id="newPwd" name="password" formControlName="password" type="{{inputType}}" autocomplete="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <button
                type="button"
                (click)="changeInputType()"
                class="inline-block rounded-r-md z-30 bg-neutral-100 px-2 text-xs font-medium leading-normal text-neutral-800 ">
                @switch (inputType) {
                  @case ("password") {
                    <ng-icon name="heroEyeSlash" size="20"></ng-icon>
                  }
                  @case ("text") {
                    <ng-icon name="heroEye" size="20"></ng-icon>
                  }
              }
            </button>
          </div>
          @if(f['password'].touched) {
            <div class="text-red-700">
                @if (f['password'].errors?.['required']) {
                    <span>password is required</span>
                }
                @if (f['password'].errors?.['minlength']) {
                    <span>Au moins 7 caractères requis</span>
                }
            </div> 
          }
        </div>
        <div class="relative mb-2" data-te-input-wrapper-init>
          <label for="pwdConf" class="block text-sm font-medium leading-6 text-gray-900">Confirmez le mot de passe</label>
          <div class="mt-1 flex flex-row justify-start">
            <input id="confPwd" name="pwdConf" formControlName="confirmPassword" type="{{inputType2}}" autocomplete="password" required class="block w-full rounded-md border-0 pt-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <!--  -->
            <button
                type="button"
                (click)="changeInputType2()"
                class="inline-block rounded-r-md z-30 bg-neutral-100 px-2 text-xs font-medium leading-normal text-neutral-800 ">
                @switch (inputType2) {
                  @case ("password") {
                    <ng-icon name="heroEyeSlash" size="20"></ng-icon>
                  }
                  @case ("text") {
                    <ng-icon name="heroEye" size="20"></ng-icon>
                  }
              }
            </button>
            <!--  -->
          </div>
          @if(f['confirmPassword'].touched) {
            <div class="text-red-700">
                @if (f['confirmPassword'].errors?.['required']) {
                    <span>confirmPassword is required</span>
                }
                @if (f['confirmPassword'].errors?.['minlength']) {
                    <span>Au moins 7 caractères requis</span>
                }
            </div> 
          }
          @if (resetForm.errors?.['matching']) {
            <div class="text-red-700">
              <span>Password non correspondant !!</span>
          </div> 
          }
        </div>
        <div class="mb-1 pb-1 pt-1 items-center text-center">
          <button
            type="boutton" [disabled]="resetForm.invalid" (click)="valider()"
            class="mb-1 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium  leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            [ngClass] = "resetForm.invalid ? ['bg-gray-500', 'hover:cursor-not-allowed'] : ['bg-orange-500']"
            >
            Valider
          </button>
        </div>

        <div class="flex items-center justify-end pb-6">
          <a href="#!" routerLink="/security/auth" class="font-semibold text-indigo-600 hover:text-indigo-500">Retour à la connection</a>
        </div>
      </form>
</div>
